.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-header);
  padding: 1.5rem;
  position: relative;
}

.header_title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: var(--color-white-text);
  font-weight: lighter;
}

.shopping_cart_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-white-text);
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.shopping_cart_container > img {
  width: 20px;
}

.shopping_cart_text {
  font-size: 0.75em;
}

.shopping_cart_item_count_container {
  position: absolute;
  background-color: var(--color-accent);
  width: 17.5px;
  height: 17.5px;
  border-radius: 50%;
  left: -7.5px;
  bottom: -7.5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping_cart_item_count {
  font-size: 0.75rem;
}

@media screen and (max-width: 350px) {
  .header_title {
    display: none;
  }
}
