@use "../colors.scss" as *;
@use "../transitions.scss" as *;

@use "../mixins/product_mixin.scss" as *;

.product_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;
  padding: 1.5rem;
  background-color: var(--product-card-bg);
  border: 2px solid var(--product-card-border);
  border-radius: 8px;
}

.product_tooltip {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.product_image {
  @include product-image-size(150px);
}

.small_product_image {
  @include product-image-size(100px);
}

.product_title {
  font-weight: normal;
  font-size: 1.1rem;
  margin: 0.125rem 0;
  color: #333;
}

.product_title_container {
  display: flex;
  justify-content: space-between;
}

.product_price {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #000;
}

span.product_title_container > p.product_price {
  padding-left: 5px;
}

.add_to_cart_button {
  background-color: var(--color-accent);
  color: white;
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  border: none;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color $transition-default;

  &:hover {
    background-color: darken($color-accent, 10%);
  }
}
