@use "../colors.scss" as *;
@use "../transitions.scss" as *;

.product_card {
  background-color: var(--product-card-bg);
  border: 2px solid var(--product-card-border);
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_image {
  max-width: 100%;
  width: 175px;
  height: 175px;
  object-fit: contain;
  margin: 0 auto 1rem auto;
}

.product_title {
  font-weight: normal;
  font-size: 1.1rem;
  margin: 0.125rem 0;
  color: #333;
}

.product_price {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #000;
}

.add_to_cart_button {
  background-color: var(--color-accent);
  color: white;
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  border: none;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color $transition-default;

  &:hover {
    background-color: darken($color-accent, 10%);
  }
}
