.product_list_container {
  display: grid;
  gap: 2.5rem 1.25rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2rem 2rem 2rem;
  max-width: 1075px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
